<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/api/auth/logout">logout</a></li>
            <li><a href="/api/auth/login">login</a></li>
        </ul>
    </nav>
    <header>
        <h1>
            RoxFoxOpenMovieAPI
        </h1>
        <h2>
            Homepage
        </h2>
    </header>
    <main>
        <p>This is the API which uses the RESTful web services</p>
    </main>
    
</body>
</html>