extends layout

block content
        header
            h1 RoxFoxOpenMovieAPI
            hr
        p This is the open API for the movies and tv series using the RESTful web Services
        p Includes all the HTTP methods:-
            ul
                li GET:- this will get the data from the server
                li POST:- this will post the data to the server 
                li DELETE:- this method is used to delete the data in the server
                li PUT:- this method is used to update the data in the server
            ul
            