doctype html
html
    head
        title RoxFoxOpenMovieAPI
    body
        block content
        br
        hr
        footer
            h4 Copyright &copy; RoxFox, 2018
            p check for all of the api calls at :-
                a.apiCalls(href='https://roxfoxopenmovieapi.herokuapp.com/api/') https://roxfoxopenmovieapi.herokuapp.com/api/
                p Some examples of the api calls:-
                ul
                    li Movies Api call at:-
                        a.moviesApiCalls(href='https://roxfoxopenmovieapi.herokuapp.com/api/movies') https://roxfoxopenmovieapi.herokuapp.com/api/movies
                    li Genres Api call at:-
                        a.genresApiCalls(href='https://roxfoxopenmovieapi.herokuapp.com/api/genres') https://roxfoxopenmovieapi.herokuapp.com/api/genres
                    li Tvseries Api call at:-
                        a.tvseriesApiCalls(href='https://roxfoxopenmovieapi.herokuapp.com/api/tvseries') https://roxfoxopenmovieapi.herokuapp.com/api/tvseries
                    li Anime Api call at:-
                        a.animeApiCalls(href='https://roxfoxopenmovieapi.herokuapp.com/api/anime') https://roxfoxopenmovieapi.herokuapp.com/api/anime
                        
                ul