<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/api/auth/logout">Logout</a>
            </li>
            <li>
                <a href="/api/auth/login">Login</a>
            </li>
            <li>
                <a href="/">Homepage</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Login To get the Auth token...</h1>
    </header>
    <main>
        <ul>
            <li><a href="/api/auth/google">Google+</a></li>
            <li><a href="/api/auth/twitter">Twitter</a></li>
            <li><a href="/api/auth/github">GitHub</a></li>
            <li><a href="/api/auth/facebook">Facebook</a></li>
        </ul>
        
    </main>
    
</body>
</html>